# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\jjani\OneDrive - Bildungszentrum Zürichsee\BZZ\Module\Workspace\Porjekts4f\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
